//Typography
$font-stack: 'Nunito', sans-serif;

// Layout
$spacer-large: 20px;
$spacer-small: 7px;

// Colors
$color-primary: #fff;
$color-secondary: hsl(40, 75%, 40%);
$color-body: #111;
$color-background: #fff;
$color-background-dark: hsl(225, 45%, 20%)