.header {
  display: flex;
  flex: 1 0 10%;
  background-color: $color-background-dark;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacer-small;
  flex-direction: column;
  color: $color-text-light;
  &__logo {
    margin-right: 10px;
  }
  &__content {
    margin: 10px 0 20px 0;
    display: flex;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__tagline {
    margin-bottom: 10px;
  }
  h1 {
    margin: 10px 0 0 0;
    a {
      text-decoration: none;
      color: $color-text-light;
    }
  }
}

// Media Queries
@media screen and (max-width: $breakpoint-large) {
  .header {
    flex-direction: column;
    align-items: start;

    &__content {
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
