.header {
  display: flex;
  flex: 1 0 10%;
  background-color: $color-background-dark;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacer-small;
  flex-direction: column;
  color: $color-primary;
  &__logo {
    margin-right: 10px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__tagline {
    margin-bottom: 10px;
  }
  h1 {
    margin: 10px 0 0 0;
    a {
      text-decoration: none;
      color: $color-primary;
    }
  }
  @include menu($color-primary, $color-primary, $spacer-large);
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $color-secondary;
    padding: 0;
    ul {
      margin: 0;
    }
    .menu__item {
      margin-right: 0px !important;
      padding: $spacer-small $spacer-large $spacer-small $spacer-large;
      transition: 500ms background-color;
      &:hover,
      &--active {
        background-color: darken($color-secondary, 20%);
        transition: 500ms background-color;
      }
      .menu__link {
        text-transform: uppercase;
      }
    }
  }
  .menu--collapse {
    display: none;
    margin-bottom: $spacer-small;
  }
}

// Media Queries
@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: start;
    .menu--collapse {
      display: flex;
    }
    .menu {
      display: none;
      ul {
        flex-direction: column;
      }
    }
  }
}
