.header {
  @include menu($color-text-light, $color-text-light, $spacer-large);
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $color-secondary;
    padding: 0;
    ul {
      margin: 0;
    }
    .menu__item {
      margin-right: 0px !important;
      padding: $spacer-small $spacer-large $spacer-small $spacer-large;
      transition: 500ms background-color;
      &:hover,
      &--active {
        background-color: darken($color-secondary, 20%);
        transition: 500ms background-color;
      }
      .menu__link {
        text-transform: uppercase;
      }
    }
  }
  .menu--collapse {
    cursor: pointer;
    display: none;
    width: 100%;
    background-color: hsl(40, 75%, 50%);
    padding: 5px;
    font-weight: 700;
  }
}

// Media queries
@media screen and (max-width: $breakpoint-large) {
  .menu {
    ul {
      flex-direction: column;
    }
  }

  .header {
    .menu {
      display: none;
      justify-content: left;
    }
    .menu--collapse {
      display: flex;
    }
  }
}
