.post {
  background-color: $color-background-dark;
  padding: $spacer-small;
  margin-top: $spacer-small;
  border-radius: $size-border-radius;
  a {
    color: $color-text-link;
  }
  img {
    max-width: 100%;
  }
  img,
  iframe {
    border-radius: $size-border-radius;
  }
  &__title {
    color: $color-text-light;
    padding: $spacer-small;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    font-size: $size-content-title;
  }
  &__content {
    padding: inherit;
    border-radius: 0 0 3px 3px;
    .hours {
      margin-left: $spacer-large;
    }
  }
  &__link {
    padding: inherit;
  }
}
