// Utilities
.width-50 {
    width: 50% !important;
}

.visually-hidden {
    display: none !important;
}

// Media Queries
@media only screen and (max-width: $breakpoint-small) {
    .width-50 {
        width: 100% !important
    }
}