// Utilities
.width-50 {
    width: 50% !important;
}

.visually-hidden {
    display: none !important;
}

.flex {
    display: flex !important;
}

.rotate-icon {
    i {
        transform: rotate(180deg);
        transition: all 250ms;
    }
}

// Media Queries
@media only screen and (max-width: $breakpoint-small) {
    .width-50 {
        width: 100% !important;
    }

    .flex {
        flex-direction: column !important;
    }
}
