{% extends "base.twig" %}

{% block content %}
  {% for post in posts %}
    <article class="post" style="min-height: 100vh;">
      {% set is_frontpage = fn('is_front_page') %}
      <h2 class="post__title {{ is_frontpage ? 'visually-hidden' }}">
        {{ post.post_title }}
      </h2>
      <div class="post__content">
        {{ post.post_content }}
      </div>
    </article>
  {% endfor %}
{% endblock %}